@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu NSW ACT Foundation';
    color: rgb(255, 255, 255);
}
.fondoIndex{
    background-image: url(../assets/img/lake-gcd15e1fb5_640.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.fondoGaleria{
    background-image: url(../assets/img/fly-fishing-geb331e34f_640.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.fondoContacto{
    background-image: url(../assets/img/fondo\ contacto\ celu\ 640.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.fondoHeader{
    height: 20vh;
    /*background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;*/
    position: sticky;
    top: 0;
    z-index: 10;
}
.contenedorLogo{
    position: absolute;
    left: 0;
    top: 0;
}
.logo{
    width: 20vh;
}
.navegacion{
    position: absolute;
    top: 25%;
    right: 0;
    text-align: right
}
.colorNav{
    background-color: rgba(167, 233, 253, 0.562);
}

.listaLink{
    color: rgba(0, 38, 255, 0.705) !important;
}

.carousel-item{
    height: 50vh;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
}
/*.textoGaleria{
    font-size: medium;
    color: rgb(245, 92, 3);
}*/
.card{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.sizeCard{
    width: 18rem;
    height: 18rem;
}
.card-img-top{
    object-fit: cover;
}
.img-fluid{
    height: 90%;
}

.icon{
    color: rgb(28, 236, 0);
    font-size: 5vh;
}
.wsp{
    border-radius: 50%;
    font-size: 5vh;
}

@media (min-width: 600px) and (max-width: 1024px){
    .fondoIndex {
        background-image :url(../assets/img/lake-gb50fbf29f_1280.jpg)};
}
@media (min-width: 600px) and (max-width: 1024px){
    .fondoContacto {
        background-image :url(../assets/img/fondo\ contacto-\ tablet_1280.jpg)};
}
@media (min-width: 600px) and (max-width: 1024px){
    .fondoGaleria {
        background-image :url(../assets/img/fly-fishing-g4e7fa7b79_1280.jpg)};
}

@media (min-width: 1025px){
    .fondoIndex { 
        background-image :url(../assets/img/lake-g99cfb777e_1920.jpg)};
}
@media (min-width: 1025px){
    .fondoContacto { 
        background-image :url(../assets/img/fondo-contacto-escritorio_1920.jpg)};
}
@media (min-width: 1025px){
    .fondoGaleria { 
        background-image :url(../assets/img/fly-fishing-g17232f6cc_1920.jpg)};
}