@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu NSW ACT Foundation', cursive;
}
.fondoIndex{
    background-image: url(../assets/img/fondo\ index_celu_640.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fondoGaleria{
    background-image: url(../assets/img/fly-fishing-geb331e34f_640.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.fondoContacto{
    background-image: url(../assets/img/fondo\ contacto\ celu\ 640.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.fondoHeader{
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: sticky;
    top: 0;
    z-index: 10;
}
.contenedorLogo{
    position: absolute;
    left: 0;
    top: 0;
}
.logo{
    width: 20vh;
}
.navegacion{
    position: absolute;
    top: 25%;
    right: 0;
}
.listaNavegacion{
    list-style: none;
    text-align: right;
}
.colorBotonNavbar{
    color: rgba(0, 101, 253, 0.705);
}
.listaLink{
    color: rgba(0, 101, 253, 0.705);
    text-decoration: none;
    font-weight: 700;
    font-size: 3vh;
}

.carousel-item{
    height: 50vh;
}
.carousel-item img{
    width: 75%;
    height: 75%;
    object-fit: cover;
}
.textoGaleria{
    font-size: medium;
    color: rgb(245, 92, 3);
}
 
.fondoFooter{
    height: 15vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.icon{
    color: orange;
    font-size: 5vh;
}
.wsp{
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    font-size: 10vh;
    position: fixed;
    right: 0;
    bottom: 0;
}
.contenedorFormu{
    margin-right: 65%;
    margin-left: 35%;
}
.formulario{
    display: block;
    font-size: 5vh;
}
@media screen and (min-widht: 600px) and (max-widht: 1024px){
    .fondoIndex {
        background-image :url(../assets/img/fondo\ index\ tablet_1280.jpg)};
    .fondoContacto {
        background-image :url(../assets/img/fondo\ contacto-\ tablet_1280.jpg)};
    .fondoGaleria {
        background-image :url(../assets/img/fly-fishing-g4e7fa7b79_1280.jpg)};
}
@media screen and (min-widht: 1025px){
    .fondoIndex { 
        background-image :url(../assets/img/fondo\ index\ escritorio_1920.jpg)};
    .fondoContacto { 
        background-image :url(../assets/img/fondo-contacto-escritorio_1920.jpg)};
    .fondoGaleria { 
        background-image :url(../assets/img/fly-fishing-g17232f6cc_1920.jpg)};
}