@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;600;700&display=swap");
/*maps*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu NSW ACT Foundation";
  color: rgb(255, 255, 255);
}

@keyframes olas {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(25px);
  }
  50% {
    transform: translateY(-20px);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
.card {
  background-color: rgba(255, 255, 255, 0.062745098);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.fondoIndex, .fondoContacto, .fondoGaleria {
  background-image: url(../assets/img/lake-gcd15e1fb5_640.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .fondoIndex, .fondoContacto, .fondoGaleria {
    background-image: url(../assets/img/lake-gb50fbf29f_1280.jpg);
  }
}
@media (min-width: 1025px) {
  .fondoIndex, .fondoContacto, .fondoGaleria {
    background-image: url(../assets/img/lake-g99cfb777e_1920.jpg);
  }
}
.fondoGaleria {
  background-image: url(../assets/img/fly-fishing-geb331e34f_640.jpg);
}

@media (min-width: 600px) and (max-width: 1024px) {
  .fondoGaleria {
    background-image: url(../assets/img/fly-fishing-g4e7fa7b79_1280.jpg);
  }
}
@media (min-width: 1025px) {
  .fondoGaleria {
    background-image: url(../assets/img/fly-fishing-g17232f6cc_1920.jpg);
  }
}
.fondoContacto {
  background-image: url(../assets/img/fondo\ contacto\ celu\ 640.jpg);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .fondoContacto {
    background-image: url(../assets/img/fondo\ contacto-\ tablet_1280.jpg);
  }
}
@media (min-width: 1025px) {
  .fondoContacto {
    background-image: url(../assets/img/fondo-contacto-escritorio_1920.jpg);
  }
}
.fondoHeader {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  background-size: cover;
  background-color: rgba(241, 240, 128, 0.3098039216);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: sticky;
  top: 0;
  z-index: 10;
}
.fondoHeader .contenedorLogo .logo {
  width: 20vh;
}
.fondoHeader .navegacion {
  justify-content: space-between;
}
.fondoHeader .navegacion .colorNav, .fondoHeader .navegacion .colorNav .listaLink {
  color: rgba(0, 38, 255, 0.705);
}
.fondoHeader .navegacion .colorNav .listaLink {
  font-size: 3rem;
}
.fondoHeader .navegacion .colorNav .listaLink:hover {
  background-color: rgba(196, 255, 252, 0.623);
  border-radius: 80%;
}
.fondoHeader .navegacion .colorNav .desplegable {
  align-items: center;
}

.mainIndex .divTituloInicio .tituloIndex {
  font-size: 5rem;
  color: rgb(255, 255, 255);
}
.mainIndex .divTituloInicio .parrafoInicio {
  font-size: 2rem;
}
.mainIndex .divTituloInicio .subsInicio {
  font-size: 3rem;
}
.mainIndex .contenedorPrimerCarrusel .carousel-item {
  height: 50vh;
}
.mainIndex .contenedorPrimerCarrusel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mainIndex .introSegundoCarrusel .subsInicio {
  font-size: 3rem;
}
.mainIndex .segundoCarrusel .carousel-item {
  height: 50vh;
}
.mainIndex .segundoCarrusel .carousel-item iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainGaleria .divTituloGaleria .tituloGaleria {
  font-size: 5rem;
  color: #0177ad;
}
.mainGaleria .primerGrupoTarjetas .zoom {
  transition: transform 2s;
}
.mainGaleria .primerGrupoTarjetas .zoom:hover {
  transform: scale(1.2, 1.2);
}
.mainGaleria .primerGrupoTarjetas .zoom .card-img-top {
  height: 100%;
  object-fit: cover;
}
.mainGaleria .primerGrupoTarjetas .zoom .cuerpoTarjeta h3 {
  font-size: 1rem;
  color: rgb(127, 197, 255);
}
.mainGaleria .primerGrupoTarjetas .zoom .pieTarjeta .registoGaleria {
  font-size: 1rem;
  color: rgba(3, 204, 194, 0.897);
}
.mainGaleria .segundoGrupoTarjetas .zoom {
  transition: transform 2s;
}
.mainGaleria .segundoGrupoTarjetas .zoom:hover {
  transform: scale(1.2, 1.2);
}
.mainGaleria .segundoGrupoTarjetas .zoom .card-img-top {
  height: 100%;
  object-fit: cover;
}
.mainGaleria .segundoGrupoTarjetas .zoom .cuerpoTarjeta h3 {
  font-size: 1rem;
  color: rgb(127, 197, 255);
}
.mainGaleria .segundoGrupoTarjetas .zoom .pieTarjeta .registoGaleria {
  font-size: 1rem;
  color: rgba(3, 204, 194, 0.897);
}

.mainLagunas .contenedorTitulolagunas .tituloLagunas {
  font-size: 5rem;
  color: rgb(44, 189, 0);
}
.mainLagunas .primeraLaguna .img-fluid {
  height: 100%;
  width: 100%;
}
.mainLagunas .primeraLaguna .cuerpoTarjeta .card-title {
  text-align: center;
  font-size: 2rem;
  color: rgb(4, 233, 42);
}
.mainLagunas .primeraLaguna .cuerpoTarjeta .descripLag {
  text-align: justify;
  color: rgb(92, 223, 81);
}
.mainLagunas .primerGrupoLagunas .img-fluid {
  height: 100%;
  width: 100%;
}
.mainLagunas .primerGrupoLagunas .cuerpoTarjeta .card-title {
  text-align: center;
  font-size: 2rem;
  color: rgb(4, 233, 42);
}
.mainLagunas .primerGrupoLagunas .cuerpoTarjeta .descripLag {
  text-align: justify;
  color: rgb(92, 223, 81);
}
.mainLagunas .segundoGrupoLagunas .img-fluid {
  height: 100%;
  width: 100%;
}
.mainLagunas .segundoGrupoLagunas .cuerpoTarjeta .card-title {
  text-align: center;
  font-size: 2rem;
  color: rgb(4, 233, 42);
}
.mainLagunas .segundoGrupoLagunas .cuerpoTarjeta .descripLag {
  text-align: justify;
  color: rgb(92, 223, 81);
}

.mainNosotros .tituloNosotros {
  font-size: 5rem;
  color: rgb(171, 255, 255);
}
.mainNosotros .tarjetaPrincipalNosotros .parrafoIntro, .mainNosotros .tarjetaPrincipalNosotros .listaPadre li {
  font-size: 1.5rem;
}
.mainNosotros .tarjetaPrincipalNosotros .card-subtitle {
  text-decoration: underline;
}
.mainNosotros .tarjetaPrincipalNosotros .tipoPesca {
  text-decoration: underline;
  color: rgb(1, 216, 231);
  font-size: 2rem;
}
.mainNosotros .tarjetaPrincipalNosotros .reglas {
  color: rgb(141, 23, 3);
}

.mainContacto .divTituloContacto .tituloContacto, .mainContacto .divTituloContacto .parrafoContacto {
  font-size: 5rem;
  color: rgb(0, 42, 121);
}
.mainContacto .divTituloContacto .parrafoContacto {
  font-size: 1.5rem;
}
.mainContacto .estiloForm {
  color: rgb(0, 42, 121);
  font-size: 2rem;
}
.mainContacto .estiloForm .botones {
  display: flex;
  justify-content: space-evenly;
}

.fondoFooter .contenedorRedesSociales {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fondoFooter .contenedorRedesSociales .icon {
  color: rgb(28, 236, 0);
  font-size: 3vh;
}
.fondoFooter .contenedorRedesSociales .wsp {
  color: rgb(28, 236, 0);
  font-size: 3vh;
}

@media (min-width: 1025px) {
  .fondoFooter {
    position: relative;
  }
  .fondoFooter .contenedorRedesSociales {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fondoFooter .contenedorRedesSociales .icon {
    color: rgb(28, 236, 0);
    font-size: 5vh;
    padding-left: 3rem;
    padding-right: 3rem;
    animation: olas infinite ease 5s;
  }
  .fondoFooter .contenedorRedesSociales .wsp {
    color: rgb(28, 236, 0);
    border-radius: 50%;
    font-size: 10vh;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
  }
}
.fondo404 {
  background-image: url(../assets/img/fondo\ galeria_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  height: 100vh;
}
.fondo404 .text404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 5rem;
  font-weight: 700;
}

/*# sourceMappingURL=estilos.css.map */
