@keyframes olas{
    0%{
        transform: translateY(0)
    }
    25%{
        transform: translateY(25px);
    }
    50%{
        transform: translateY(-20px);
    }
    75%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}