.mainGaleria {
    .divTituloGaleria {
        .tituloGaleria {
            @include titulos (#0177ad);
        }
    }

    .primerGrupoTarjetas {
        .card-img-top {
            height: 100%;
            object-fit: cover;
        }
        .cuerpoTarjeta {
            h3 {
                font-size: map-get($tamañoFuente, normal);
                color: rgb(127, 197, 255);
            }
        }
        .pieTarjeta {
            .registoGaleria {
                font-size: map-get($tamañoFuente, normal);
                color: rgba(3, 204, 194, 0.897);
            }
        }
    }

    .segundoGrupoTarjetas {
        .card-img-top {
            height: 100%;
            object-fit: cover;
        }
        .cuerpoTarjeta {
            h3 {
                font-size: map-get($tamañoFuente, normal);
                color: rgb(127, 197, 255);
            }
        }
        .pieTarjeta {
            .registoGaleria {
                font-size: map-get($tamañoFuente, normal);
                color: rgba(3, 204, 194, 0.897);
            }
        }
    }
}