$fuentePrincipal:"Edu NSW ACT Foundation";
$colornavegacion: rgba(0, 38, 255, 0.705);
$colorFuentePrincipal: rgb(255, 255, 255);
$colorContacto: rgb(0, 42, 121);





/*maps*/
$tamañoFuente:(
    normal : 1rem,
    texto : 1.5rem,
    grande : 2rem,
    masGrande : 3rem,
    h1: 5rem,
    negrita: 700,
    casiNegrita: 600
);
$fondosEnComun: (
    background-size-cover: cover,
    background-repeat-no: no-repeat,
    background-position-c: center,
    background-attachment-fixed: fixed
);
$tamañosVH:(
    100: 100vh,
    75: 75vh,
    50: 50vh,
    35: 35vh,
    25: 25vh,
    20: 20vh,
    15: 15vh,
    10: 10vh,
    5: 5vh
);
